.add-card-form {
  display: flex;
  flex-direction: column;
}

.add-card-buttons-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 0.5rem 0rem 0.1rem 0rem;
}

.add-card-content {
  background-color: var(--gray4);
  color: var(--gray1);
  border-radius: 6px;
  min-height: 69px;
  box-sizing: border-box;
}

.add-card-form .card-title-input {
  background-color: var(--gray4);
  padding: 0.2rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
}
