/* Card */
.card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
  cursor: default !important;
  user-select: none;
}

.card-cover {
  width: 100%;
  height: 50px;
  border-radius: 6px 6px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-container:active {
  cursor: grabbing;
  cursor: default !important;
}

.card-container--dragging {
  opacity: 0.5;
  transition: none;
  cursor: default !important;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray4);
  border: 1px solid var(--black);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.floating-card-content-container {
  background-color: var(--gray4);
  border: 1px solid var(--black);
  border-radius: 6px;
  overflow: visible;
  position: relative;
}

.card-content--overlay::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  mix-blend-mode: normal;
  pointer-events: none;
  z-index: 0;
}

.card-content {
  position: relative;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  color: var(--gray1);
  border-radius: 0 0 6px 6px;
  padding: 0.5rem;
  text-align: left;
  box-sizing: border-box;
}

.card-content-container:hover {
  border: 1px solid var(--gray1);
}

.floating-card-content-container .card-content .add-submit-button {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
}

.card-edit-button.MuiIconButton-root {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1;
  &:hover {
    background-color: var(--gray3);
    color: var(--gray1);
  }
}

.card-content-container:hover .card-edit-button,
.floating-card-content-container:hover .card-edit-button {
  opacity: 1;
}

.card-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0rem 0.25rem 0 0.25rem;
  margin: 0 2rem 0 0;
}

.card-title,
.card-title-input {
  margin: 0;
  margin-top: auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  word-break: break-word;
  color: var(--gray1);
}

.card-title-input {
  display: block;
  border: none;
  outline: none;
  background: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
  field-sizing: content;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.6rem 0.4rem 0.5rem 0.4rem;
  font-size: 0.75rem;
  > svg {
    font-size: 18px;
  }
}

.card-footer-left-attachments {
  display: flex;
  align-items: center;
  > svg {
    font-size: 17px;
    transform: rotate(45deg);
  }
}

.card-footer-left-comments {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  > svg {
    margin-top: 2px;
    font-size: 17px;
  }
}
.card-footer-right {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.25rem;
  font-size: 0.75rem;
}

.empty-card-footer {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 0.5rem;
}

.card-popover {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: var(--gray1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem);
}

.card-popover-content {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: transparent;
  padding-top: 8px;
  padding-left: 5px;
}

.card-menu-button {
  font-weight: 500;
  font-size: 0.875rem;
  width: fit-content;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  border-radius: 0.2rem;
  color: var(--gray1);
  background: var(--gray4);
  padding: 0.5rem;
  transition: background-color 0.15s ease, transform 0.05s ease,
    box-shadow 0.1s ease;

  > svg {
    font-size: 16px;
  }
  &.is-active {
    background-color: var(--gray4);
    transform: translateY(1px);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    background-color: var(--gray5);
  }
}
