.MuiPaper-root.popover-paper {
  width: 304px;
  margin-top: 8px;
  background-color: #2b2c2f;
  color: #bfc1c4;
  box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  border-radius: 0.5rem;
}

.popover-header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: 200px;
}

.popover-header-title-text {
  flex: 1;
  text-align: center;
  font-weight: 600;
  padding: 0.8rem 0rem;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.popover-header-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.popover-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem 2.5rem;
  min-width: 200px;
}

.popover-header-title {
  flex: 1;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.popover-header-back {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.popover-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
