/* Add List Button */
.add-list {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  background: transparent;
  border-radius: var(--ds-radius-xlarge, 12px);
  margin: 0.2rem 0.35rem 0.2rem 0.35rem;
}

.add-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--gray5);
  border-radius: var(--ds-radius-xlarge, 12px);
  padding: 0.5rem;
}

.add-list-actions {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.add-list-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--ds-radius-xlarge, 12px);
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray1);
  background: rgba(0, 0, 0, 0.265);
  backdrop-filter: blur(8px);
  gap: 0.5rem;
  padding: var(--ds-space-150, 12px);
  > svg {
    width: 16px;
    height: 16px;
    color: var(--gray1);
  }
}

.add-list-button:hover {
  background: rgba(0, 0, 0, 0.35);
}
