# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
dist-ssr/
build/
*.tsbuildinfo

# Vite (Frontend)
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# cache
.prettiercache
.eslintcache


# Temporary files
*.tmp
*.temp
.cache/

# Docker
.dockerignore
memory-bank/

tmp/

#Helper files
frontend/helper-files/
backend/helper-files/
