* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: --var(clr2);
  background-color: var(--bg-charcoal);
}

main {
  background-color: var(--bg-charcoal);
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  max-width: 100%;
}

img,
embed,
video,
object {
  max-width: 100%;
  display: block;
}

textarea {
  display: block;
  word-break: break-all;
  border: none;
  outline: none;
  background: none;
  color: var(--gray1);
  font-family: inherit;
  font-size: 1.15em;
  font-weight: normal;
  padding: 0.25rem 0.5rem 0.5rem 0.3rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
  border: 1px solid var(--gray2);
  field-sizing: content;
}

*[data-rbd-drag-handle-context-id] {
  cursor: default !important;
}

*[data-rbd-drag-handle-context-id]:active {
  cursor: default !important;
}
