.card-label {
  display: flex;
  align-items: center;
  height: 16px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  padding: 0 8px;
  transition: max-width 0.3s ease, padding 0.3s ease, border-radius 0.2s ease;
}

.card-label-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}

.card-label.open {
  max-width: 360px;
  border-radius: 4px;
  padding: 0 8px;
  transition: border-radius 0.2s ease-out 0s, max-width 2s ease 0.2s,
    padding 0.4s ease 0.15s;
}

.card-label.open .card-label-text {
  opacity: 1;
  transition: opacity 0.5s ease;
  transition-delay: 0.4s;
}

.card-label.closed {
  max-width: 16px;
  max-height: 16px;
  border-radius: 4px;
  padding: 0;
  transition: border-radius 0.15s ease-out 0s, max-width 0.3s ease 0s,
    padding 0.25s ease 0s, max-height 0.3s ease 0s;
}

.card-label.closed .card-label-text {
  opacity: 0;
  transition: opacity 0.2s ease;
  transition-delay: 0s;
}

.card-label.green {
  background-color: var(--label-green-bg);
  color: var(--label-green-text);
}

.card-label.yellow {
  background-color: var(--label-yellow-bg);
  color: var(--label-yellow-text);
}

.card-label.orange {
  background-color: var(--label-orange-bg);
  color: var(--label-orange-text);
}

.card-label.red {
  background-color: var(--label-red-bg);
  color: var(--label-red-text);
}

.card-label.purple {
  background-color: var(--label-purple-bg);
  color: var(--label-purple-text);
}

.card-label.blue {
  background-color: var(--label-blue-bg);
  color: var(--label-blue-text);
}

.card-label.sky {
  background-color: var(--label-sky-bg);
  color: var(--label-sky-text);
}

.card-label.lime {
  background-color: var(--label-lime-bg);
  color: var(--label-lime-text);
}

.card-label.pink {
  background-color: var(--label-pink-bg);
  color: var(--label-pink-text);
}

.card-label.gray {
  background-color: var(--label-gray-bg);
  color: var(--label-gray-text);
}
