.labels-title {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  word-break: break-word;
  color: var(--gray1);
  background: transparent;
}

.modal-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0.1rem 0 0.25rem 0rem;
  margin: 0 2rem 0 0;
}

.modal-label {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.modal-labels h3 {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 0;
  word-break: break-word;
  color: var(--gray1);
  background: var(--gray3);
}

.add-label-button {
  border: none;
  background: var(--ds-background-neutral);
  font-size: 1em;
  color: var(--ds-text);
  cursor: pointer;
  padding: 0.5rem;
  &:hover {
    background: var(--ds-background-neutral-hovered);
  }
}

.modal-label.green {
  background-color: var(--label-green-bg);
  color: var(--label-green-text);
}

.modal-label.yellow {
  background-color: var(--label-yellow-bg);
  color: var(--label-yellow-text);
}

.modal-label.orange {
  background-color: var(--label-orange-bg);
  color: var(--label-orange-text);
}

.modal-label.red {
  background-color: var(--label-red-bg);
  color: var(--label-red-text);
}

.modal-label.purple {
  background-color: var(--label-purple-bg);
  color: var(--label-purple-text);
}

.modal-label.blue {
  background-color: var(--label-blue-bg);
  color: var(--label-blue-text);
}

.modal-label.sky {
  background-color: var(--label-sky-bg);
  color: var(--label-sky-text);
}

.modal-label.lime {
  background-color: var(--label-lime-bg);
  color: var(--label-lime-text);
}

.modal-label.pink {
  background-color: var(--label-pink-bg);
  color: var(--label-pink-text);
}

.modal-label.gray {
  background-color: var(--label-gray-bg);
  color: var(--label-gray-text);
}
